# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Flask
instance/
*.db

# Environment / secrets
.env
.env.*

# Docker
*.log